
/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
}

.footer .copyright {
  padding: 25px 0;
}

.footer .copyright p {
  margin-bottom: 0;
}
